@use 'var' as *;
@use 'mix' as *;

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=PT+Serif:wght@700&family=Poppins:wght@400;600&display=swap');

// font-family: 'Montserrat',sans-serif;
// font-family: 'Poppins',sans-serif;
// font-family: 'PT Serif',serif;

/* border-box */
html {
    @include box-sizing (border-box);
}

*,
*::before,
*::after {
    box-sizing: inherit;
}


/* --- vyber --- */
@include selection {
    background-color: #1683ff;
    color: #ffffff;
}

body {
    padding-top: 5rem;
    background-color: #fafafa;
}

.container {
    @include container(90rem)
}

.flex {
    display: flex;
    justify-content: center;
    gap: 1rem;

    &>* {
        flex-basis: 40%;
    }
}

header {
    color: #000000;
    margin-top: 6.875rem;

    h1 {
        font-family: 'PT Serif', serif;
        font-size: 2.25rem;
        font-weight: 700;
        letter-spacing: -0.045rem;
    }

    .header_div {
        font-family: 'Poppins', sans-serif;

        h2 {
            font-weight: 600;
            font-size: 1.125rem;
            line-height: 1.6875rem;
            text-transform: uppercase;
            margin-bottom: .625rem;
        }

        p {
            width: 80%;
            font-weight: 400;
            font-size: 1.125rem;
            line-height: 1.6875rem;
        }
    }
}

.magic {
    display: flex;
    column-gap: 2rem;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 3rem;
    margin-bottom: 5rem;
    padding: 0 3rem;


    .boxes {
        flex-basis: 28%;
        position: relative;
        // min-width: 16rem;
        flex-grow: 0;

        &.boxes:nth-child(5) {
            padding-top: 5rem;
        }

        &.boxes:nth-child(2) {
            padding-top: 5rem;
        }

        .vertical {
            position: absolute;
            writing-mode: vertical-rl;
            display: inline-block;

            font-family: 'PT Serif', serif;
            font-weight: 400;
            font-size: .75rem;
            line-height: 16px;
            text-transform: uppercase;
            padding-left: 8px;

        }

        img {
            width: 100%;
            max-width: 240px;
            height: auto;
            border-radius: 5px;
        }

        .name {
            font-family: 'Poppins', sans-serif;
            font-weight: 600;
            font-size: 1.125rem;
            line-height: 1.6875rem;
            margin-top: .5rem;
        }
    }
}

footer {
    padding-bottom: 3rem;

    p {
        font-family: 'Montserrat', sans-serif;
        font-weight: 500;
        font-size: .875rem;
        text-align: center;
        color: #A9A9A9;
    }
}




@media only screen and (max-width:1000px) {
    header {
        .header_div {
            p {
                width: 100%;
            }
        }
    }
}

@media only screen and (max-width:920px) {
    .magic {
        padding: 0 1rem;
        gap: 2rem;
    }
}

@media only screen and (max-width:770px) {
    .flex {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 1rem;

        &>* {
            flex-basis: 80%;
        }
    }

    header {
        .header_div {
            p {
                font-size: .875rem;
            }
        }
    }

    .magic {
        .boxes {
            flex-basis: 40%;
            min-width: 2rem;

            .vertical{
                font-size: .8rem;
                font-weight: 400;
            }
        }
    }
}